{
  "plugins": ["@typescript-eslint"],
  "extends": ["airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "linebreak-style":0,
    "react/react-in-jsx-scope":0,
    "react/jsx-props-no-spreading":0,
    "max-len":0
  }
}